/**
 * Getting started checklist pane
 */
.no-js .get-started-pane-outer-wrapper {
  display: none;
}

.get-started-pane-outer-wrapper {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 500;
  /* Can't use calc in trasform in Safari 7 so translate 2x instead */
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  width: calc(100% - 3em);
  border: 2px solid #20252e;
  border-right: 0;
  background: #fff;
  -webkit-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  will-change: transform;
  backface-visibility: hidden;
}
@media (min-width: 550px) {
  .get-started-pane-outer-wrapper {
    /* Can't use calc in trasform in Safari 7 so translate 2x instead */
    -webkit-transform:
      translate(100%, -50%)
      translate(0, -10vh);
    transform:
      translate(100%, -50%)
      translate(0, -10vh);
    width: 400px;
    font-size: 1.125em;
  }
}

.get-started-pane-outer-wrapper.js-toggled {
  /* Can't use calc in trasform in Safari 7 so translate 2x instead */
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (min-width: 550px) {
  .get-started-pane-outer-wrapper.js-toggled {
    /* Can't use calc in trasform in Safari 7 so translate 2x instead */
    -webkit-transform:
      translate(0, -50%)
      translate(0, -10vh);
    transform:
      translate(0, -50%)
      translate(0, -10vh);
  }
}

.get-started-pane-control {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.6em 1.5em 0.6em 3.2em;
  -webkit-transform:
    rotate(90deg)
    translate(-2px, 0);
  transform:
    rotate(90deg)
    translate(-2px, 0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  background: #20252e;
  color: #fff;
  cursor: pointer;
}

.get-started-pane-control:before,
.get-started-pane-control:after {
  content: '';
  position: absolute;
  display: block;
}

.get-started-pane-control:before {
  top: 0;
  left: 0;
  width: 2.2em;
  height: 100%;
  background: #0074bd;
}

.get-started-pane-control:after {
  top: 50%;
  left: 1.1em;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform:
    translate(0, -50%)
    translate(0, -0.25em)
    rotate(45deg);
  transform:
    translate(0, -50%)
    translate(0, -0.25em)
    rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.get-started-pane-outer-wrapper.js-toggled .get-started-pane-control:after {
  border: 1px solid #fff;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform:
    translate(0, -50%)
    translate(0, 0.1875em)
    rotate(45deg);
  transform:
    translate(0, -50%)
    translate(0, 0.1875em)
    rotate(45deg);
}

.get-started-pane-content-wrapper {
  position: relative;
  padding: 1em 1.625em 1.2em;
  background: #20252e;
  color: #fff;
}

.get-started-pane-rank {
  margin: 0 0 0.5em;
  font-style: italic;
}

.get-started-pane-progress {
  display: block;
  width: 100%;
}

.get-started-pane-tutorials-link {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  display: block;
  padding: 0.5em 1em;
  background: #586172;
  color: #fff;
  text-decoration: none;
}

.get-started-pane-tutorials-link .icon-external-link {
  border-color: #fff;
}

.get-started-pane-tutorials-link .icon-external-link-arrow {
  background: #fff;
  border-color: #586172;
}

.get-started-pane-tutorials-link .icon-external-link-arrow:before {
  border-color: #fff;
}

.get-started-pane-tutorials-link .icon-external-link-arrow:after {
  border-bottom-color: #fff;
}

.get-started-pane-checkboxes {
  margin: 0;
  padding: 1.25em 1.625em;
  list-style: none;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

/* Make sure items dodge Tutorials button */
.get-started-pane-checkboxes:before {
  content: '';
  display: block;
  height: 1.7em;
}
@media (min-width: 550px) {
  .get-started-pane-checkboxes:before {
    float: right;
    width: 5.5em;
    height: 2em;
  }
}

.get-started-pane-check-wrapper {
  margin: 0 0 0.5em;
}
