.quote-primary {
  position: relative;
  margin: 0 0 2em;
  padding: 2.5em 0 3em;
}

.quote-primary:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 1100px;
  border-bottom: 3px solid #b2d5eb;
}

.quote-primary-inner-wrapper {
  max-width: 950px;
  padding: 0 2em;
}
@media (min-width: 550px) {
  .quote-primary-inner-wrapper {
    padding: 0 4em;
  }
}

.quote-content {
  margin: 0 0 0.5em;
  font-size: 1.3em;
}
@media (min-width: 550px) {
  .quote-content {
    font-size: 1.7em;
  }
}
@media (min-width: 850px) {
  .quote-content {
    font-size: 2em;
  }
}

.quote-citation {
  font-size: 1em;
  float: right;
}
@media (min-width: 550px) {
  .quote-citation {
    font-size: 1.1em;
  }
}
@media (min-width: 850px) {
  .quote-citation {
    font-size: 1.2em;
  }
}

.quote-citation cite {
  display: block;
  font-size: 1.2em;
}
